body.active-cart {
    overflow-y: hidden;
}

.btn-cart {
    padding: 10px 20px;
    display: block;
    /* margin: 100px auto 0; */
    margin-left: 0px;
    font-size: 18px;
}

.cart, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.cart-content {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 750px;
    min-width: 400px;

    
}

.cart-div-scroll{
    position: relative;
    overflow: auto;
    height: 400px;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.cart-img{
    width: 70px;
    height: 70px;
}

.info{
    position: absolute;
    top: 0;
    left: 80px;
    width: 200px;
}

.cart-btn{
    position: relative;
    top: 0;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(11, 134, 211);
    color: darkred;
}

.cart-table {
    position: absolute;
    top: 50px;
    background-color: rgb(228, 225, 221);
}

.cart-table-tr {
    background-color: rgb(208, 140, 53);
}